body {
    background-image: url(../assets/RestaurantMockupFiles/RestaurantMockupFiles/assets/bgtexture.jpg);
  }
  
  .fugaz {
    font-family: "Fugaz One", sans-serif;
  }
  
  .red {
    color: #5f002b;
  }
  
  .montauk {
    font-family: "Montauk", Courier, monospace;
  }
  
  .spread {
    display: flex;
  
    justify-content: space-evenly;
  }
  
  .marginX{
    margin-right: 8em;
    margin-left: 8em;
  }
  
  .footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: 1fr 1fr;
    padding: 44px 7.3%; 
  }
  
  .footer .text{
    color: #5F002B;
    font-family: 'Montauk', Courier, monospace;
    font-size: 20px;
    line-height: 1.1;
  }
  
  @media screen and (max-width: 768px){
    .footer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row: 1fr 1fr;
        padding: 40px 5%; 
    }
    
    .footer .text{
        color: #5F002B;
        font-family: 'Montauk', Courier, monospace;
        font-size: 12px;
        line-height: 1;
    }
  }
  
  
  @font-face {
    font-family: Montauk;
    src: url("../assets/Montauk-Regular/Montauk-Regular.otf") format("otf"),
      url("../assets/Montauk-Regular/Montauk.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: Montauk;
    src: url("../assets/Montauk-Regular/Montauk-Bold.otf") format("otf");
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: Montauk;
    src: url("../assets/Montauk-Regular/Montauk-Italic.otf") format("otf");
    font-weight: normal;
    font-style: italic;
  }
  
  @font-face {
    font-family: Montauk;
    src: url("../assets/Montauk-Regular/Montauk-Light.otf") format("otf");
    font-weight: lighter;
    font-style: normal;
  }
  
  p {
    font-family: "Montauk", Courier, monospace;
    color: #5f002b;
    padding: 0px 40px 0px 40px;
    font-size: 20px;
    line-height: 1.2em;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Fugaz One", sans-serif;
    color: #5f002b;
    padding: 0px 40px 0px 40px;
  }
  
  h1 {
    padding-top: 40px;
  }
  
  .card{
    --bs-card-border-radius: 0px
  }
  
  .card-img-top{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px
  }

  .menuTxt{
    text-align: center;
    color: #5F002B;
    background-color: white;
    font-family: 'Fugaz One';
    font-size: 50px;
}

.overflow{
    overflow: hidden;
}

.marginX{
    margin-right: 8em;
    margin-left: 8em;
}
.bgwhite{
    background-color: white;
}

.spacerVert{
    width: 10px;
    height: auto;
}
.spacerHor{
    width: auto;
    height: 20px;
}

hr{
    border: 1px solid #980051;
    opacity: 100%;
    
}
.menu-item h1{
    display: flex;
    justify-content: space-between;
    margin: 0;
    font-family: 'Montauk';
    color: #5F002B;
    font-size: 30px;
}
.menu-description p{
    font-family: 'Montauk';
    color: #5F002B;
    font-size: 18px;
}

@media screen and (max-width: 768px){
    
    .menu-description{
        font-family: 'Montauk';
        color: #5F002B;
        font-size: 15px;
    }

    .menu-item h1{
        
        color: #5F002B;
        font-size: 23px;
    }

    
}
.paddingBot{
    padding-bottom: 6em!important;
}

.menuCata{
    font-size: 30px;
}
.cataDes{
    font-size: 18px;
}

.accordion{
    --bs-accordion-active-bg: lightgrey;
    --bs-accordion-active-color: #5F002B;
    --bs-accordion-border-color: #5F002B;
    --bs-accordion-btn-focus-box-shadow: none;
}